<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <!-- Permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="23" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:icon="@drawable/logoapp"
        android:label="Moodify"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">

        <service
            android:name=".ApiClient"
            android:enabled="true"
            android:permission="Yes or No"
            android:exported="true"
            tools:ignore="Instantiatable">

        </service>
        <!-- Declare SignInActivity as the launcher activity -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="www.example.com"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Declare other activities -->
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".ChangeEmailActivity" />
        <activity android:name=".FacialRecognitionActivity"/>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".GenerateMusicActivity"/>
        <activity android:name=".MusicPlayerActivity"/>

    </application>

</manifest>